pipeline/US SQL Loading.json
{
	"name": "US SQL Loading",
	"properties": {
		"activities": [
			{
				"name": "list US2 tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "CSV_US2_list",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "list US2 tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('list US2 tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Data flow Table to SQL",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "LoadQraftTableToSQL",
									"type": "DataFlowReference",
									"parameters": {
										"tablename": {
											"value": "'@{item().tablename}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"SqlTable": {
											"tablename": {
												"value": "@item().tablename",
												"type": "Expression"
											}
										}
									}
								},
								"integrationRuntime": {
									"referenceName": "DataFlowSparkCluster",
									"type": "IntegrationRuntimeReference"
								},
								"traceLevel": "None"
							}
						}
					]
				}
			}
		],
		"variables": {
			"tablename": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-09-15T15:42:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}